# Enable rewrite engine
RewriteEngine On
RewriteBase /

# Handle PHP version
AddHandler application/x-httpd-php82 .php

# Set PHP memory limit
php_value memory_limit 256M

# Handle all requests through index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L] 